@use "../abstracts/_variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as md;

.container {
  padding: 10px;

  @include md.respondMin(lg) {
    padding: 33px 10px 10px 70px;
  }

  @include md.respondMin(xl) {
    padding: 33px 10px 10px 160px;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/beauty-woman-skin.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80%;
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  padding: 5px;
  align-items: center;

  @include md.respondMin(lg) {
    grid-template-columns: 1fr 1fr 1fr auto;
  }
  @include md.respondMin(xl) {
    grid-template-columns: auto 1fr 1fr 1fr;
    gap: 50px;
  }

  .nav__menu {
    display: flex;

    position: absolute;

    top: 10%;

    right: 0;

    width: 30%;

    background-color: v.$white;

    flex-direction: column;

    z-index: 100;

    text-align: left;

    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;

    transition: all 0.25s ease;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    @include md.respondMin(lg) {
      background-color: transparent;
      position: static;
      opacity: 1; // siempre visible
      transform: none;
      visibility: visible;
      box-shadow: none;
      flex-direction: row; // horizontal
      align-items: center;
      gap: 20px;
    }

    .nav__list {
      list-style: none;
      padding: 10px;
      margin: 0;

      .nav__item {
        margin-bottom: 10px;
      }

      @include md.respondMin(lg) {
        display: flex;
        gap: 30px;
      }
    }

    .nav__auth {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      & a {
        font-size: 14px;
        color: v.$white;
        background-color: v.$primary;
        border-radius: 20px;
        padding: 5px;
        transition: all 0.25s ease;

        &:hover {
          transform: translateY(-2px);
          opacity: 0.9;
        }
      }

      @include md.respondMin(sm) {
        justify-content: center;
        gap: 10px;
      }

      @include md.respondMin(lg) {
        position: absolute;
        right: 10px;
        top: 42px;
        justify-content: space-between;

        .nav__link-signIn {
          background-color: transparent;
          color: v.$primary;
        }
      }

      @include md.respondMin(xxl) {
        position: absolute;
        right: 80px;
        top: 42px;
        justify-content: space-between;

        .nav__link-signIn {
          background-color: transparent;
          color: v.$primary;
        }
      }
    }
  }

  .nav__link {
    text-decoration: none;
    color: v.$gray;
    transition: all 0.25s ease;

    &:hover {
      transform: translateY(-2px);
      color: v.$primary;
    }
  }

  .nav__item-arrow {
    display: flex;
  }

  .nav__actions {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 10px;

    & a {
      display: none;
    }

    @include md.respondMin(lg) {
      justify-content: start;
      margin-left: 20px;
    }

    @include md.respondMin(xl) {
      justify-content: center;
      gap: 32px;
    }

    @include md.respondMin(xxl) {
      justify-content: end;
    }
  }

  .nav__toggle {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    @include md.respondMin(lg) {
      visibility: hidden;
    }
  }

  .nav__menu.is-active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .nav__icon-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .nav_icon-search {
    background-image: url("/assets/icons/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .nav_icon-shoppingBag {
    background-image: url("/assets/icons/shoppingBag.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.hero {
  margin-top: 80px;
  @include md.respondMin(sm) {
    max-width: 600px;
  }

  .hero__title {
    margin: 0;
    font-family: v.$font-primary;
    font-weight: 700;
    font-size: 40px;
  }

  .hero__subtitle {
    color: v.$gray;
  }

  .hero__buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 56px;

    & a:first-child {
      background-color: v.$primary;
      color: v.$white;
      padding: 12.5px 16px;
      border-radius: 32px;
      text-decoration: none;
      transition: all 0.25s ease;

      &:hover {
        transform: translateY(-2px);
        opacity: 0.9;
      }
    }
    & button {
      display: flex;
      align-items: center;
      border: none;
      background-color: v.$gray-l;
      color: v.$primary;
      gap: 10px;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: v.$white;
        border-radius: 50%;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
        transition: all 0.25s ease;
        cursor: pointer;

        &:hover {
          transform: translateY(-2px);
          opacity: 0.5;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.numbers__items {
  @include md.respondMin(sm) {
    display: flex;
    justify-content: center;
  }

  @include md.respondMin(lg) {
    display: flex;
    justify-content: start;
  }

  .numbers__grid {
    background-color: v.$white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 72px;
    padding: 32px;
    margin-top: 90px;

    @include md.respondMin(sm) {
      max-width: 480px;
    }

    .numbers-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .numbers-card__img {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: v.$cyan;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      margin-bottom: 24px;
    }

    .numbers-card__text {
      margin: 16px 0px 0px 0px;
      color: v.$gray;
    }
  }
}

.testimonials {
  display: none;
}
